
<div class="wideRow">
<label for="text"  class="itemNarrow">Text:</label>
<input type="text" class="itemWide" id="text" name="text" value="<%= tip.text %>" placeholder="Text" autocomplete="off"/>
</div>


<br/>
<a href="/goback"><button type="button">Cancel</button></a>

<input type="submit" value="Save">
